* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvatica Neue"
}
body > div {
    margin: auto;
}
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
     n 
}
.btn + .btn {
    padding-left: 16px;
}
.btn--success {
    background-color: #71be34;
}
.btn--warn {
    background-color: #ffb702;
}
.btn--danger {
    background-color: #ff623d;
}